<div class="impact-strip">
  <div class="impact-strip__item">
    <span class="impact-strip__number">{{ .Get "n1" }}</span>
    <span class="impact-strip__label">{{ .Get "l1" }}</span>
  </div>
  <div class="impact-strip__item">
    <span class="impact-strip__number">{{ .Get "n2" }}</span>
    <span class="impact-strip__label">{{ .Get "l2" }}</span>
  </div>
  <div class="impact-strip__item">
    <span class="impact-strip__number">{{ .Get "n3" }}</span>
    <span class="impact-strip__label">{{ .Get "l3" }}</span>
  </div>
</div>
